<aside class="sidebar fixed">
    <div class="brand-logo">
        <div id="logo">
            <img src="assets/img/logo.png" width="40px">
        </div>
        Tagmatic
    </div>
    <div class="user-logged-in">
        <div class="content">
            <div class="user-name">Ivana <span class="text-muted f9">admin</span></div>
            <div class="user-email">ivana@gmail.com</div>
            <div class="user-actions">
                <a class="m-r-5" href="">settings</a> <a href="">logout</a>
            </div>
        </div>
    </div>
    <ul class="menu-links" ng-cloak>
        <a menu-link data-ui-sref="app.home" icon="md md-camera">HOME</a>
        <a menu-link data-ui-sref="app.project" icon="md md-favorite-outline">PROJECTS</a>
        <a menu-link data-ui-sref="app.contact" icon="md md-photo">TEAM</a>
        <li menu-toggle data-ui-sref="app.administration" icon="md md-list" name="ADMINISTRATION">
            <a menu-link data-ui-sref="app.todo" icon="md md-blur-on">TASKS</a>
            <a menu-link data-ui-sref="app.issue" icon="md md-input">ISSUES</a>
            <a menu-link data-ui-sref="app.tag" icon="md md-list">TAGS</a>
        </li>
        <a menu-link data-ui-sref="app.administration" icon="md md-list">SETTINGS</a>
        <a menu-link data-ui-sref="app.board" icon="md md-list">BOARD</a>
    </ul>
</aside>