<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title">
        Create New Milestone
    </h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" ng-submit="newMilestone(milestoneForm.$valid)" novalidate
          name="milestoneForm">
        <div class="form-group"
             ng-class="{ 'has-error' : milestoneForm.name.$invalid && !milestoneForm.name.$pristine && submitted || milestoneForm.name.$error.required && submitted}">
            <label class="col-sm-3 control-label">Title:</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="milestone.name" name="name" required>

                <p ng-show="milestoneForm.name.$error.required && submitted" class="help-block">Name is required.</p>

                <p ng-show="milestoneForm.name.$invalid && !milestoneForm.name.$pristine" class="help-block">Name is
                    required.</p>
            </div>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : milestoneForm.description.$invalid && !milestoneForm.description.$pristine && submitted || milestoneForm.description.$error.required && submitted}">
            <label class="col-sm-3 control-label">Description:</label>

            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="milestone.description" name="description" required>

                <p ng-show="milestoneForm.description.$error.required && submitted" class="help-block">Description is
                    required.</p>

                <p ng-show="milestoneForm.description.$invalid && !milestoneForm.description.$pristine"
                   class="help-block">
                    Description is
                    required.</p>
            </div>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : milestoneForm.due_date.$invalid && !milestoneForm.due_date.$pristine && submitted || milestoneForm.due_date.$error.required && submitted}">
            <label class="col-sm-3 control-label">Due Date:</label>

            <div class="col-sm-9">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="milestone.due_date"
                           name="due_date"
                           is-open="opened" datepicker-options="dateOptions" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
                <p ng-show="milestoneForm.due_date.$error.required && submitted" class="help-block">Due date is
                    required.</p>

                <p ng-show="milestoneForm.due_date.$invalid && !milestoneForm.due_date.$pristine"
                   class="help-block">
                    Due date is
                    required.</p>
            </div>

        </div>

        <div class="modal-footer">

            <button type="submit" class="btn btn-primary">
                Confirm
            </button>
            <button type="button" class="btn btn-default" ng-click="closeModal()">
                Cancel
            </button>
        </div>
    </form>
</div>