<div class="main-content" autoscroll="true" bs-affix-target="" init-ripples="" ng-controller="todoController">
    <section class="todo-app">
        <div class="page-header">
            <h1>      <i class="md md-camera"></i>      Todo    </h1>
            <p class="lead"> Manage your todo's from the dashboard or here with additional filters. </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well white">
                    <form class="form">
                        <div class="form-group input-group">
                            <input id="todo-title" class="form-control" type="text" ng-model="todo.text">
                            <div class="input-group-btn p-l-10">
                                <button class="btn btn-default" ng-click="createToDo()">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12 filters">
                <div class="btn-group" role="group" aria-label="Filter todo's">
                    <button class="btn btn-default filter active">All</button>
                    <button class="btn btn-default filter">Active</button>
                    <button class="btn btn-default filter">Completed</button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="well white">
                    <ul class="list-unstyled">
                        <label class="checkbox strike" ng-repeat="todo in todos">
                            <input type="checkbox" ng-model="todo" name="todo">{{todo.text}}
                        </label>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-info">Clear completed todo's</button>
            </div>
        </div>
    </section>
</div>