<div class="dashboard grey lighten-3" ng-controller="homeController">
    <div class="row no-gutter">

        <div class="col-sm-12 col-md-12 col-lg-9" style="background:#F9F9F9;">

            <div class="p-20 clearfix">
                <div class="pull-right">
                    <a href="pages/material-bird.html" target="_blank" class="btn btn-round-sm btn-link" bs-tooltip title="Play material bird"><i class="md md-games"></i></a>
                    <div class="btn btn-round-sm btn-link" bs-tooltip title="Upload media"><i class="md md-crop-original"></i></div>
                    <div class="btn btn-round-sm btn-link" bs-tooltip title="Write new document"><i class="md md-insert-drive-file"></i></div>
                    <div class="btn btn-round-sm btn-link" bs-tooltip title="Add new user"><i class="md md-person-add"></i></div>
                </div>
                <h4 class="grey-text">
                    <i class="md md-dashboard"></i>
                    <span class="hidden-xs">Performance summary and KPI's</span>
                </h4>
            </div>

            <div class="p-20 no-p-t">

                <div class="row gutter-14 kpi-dashboard">
                    <div class="col-md-4">
                        <div class="card small">
                            <div class="theme-lighten-1 p-10">
                                <div class="pull-right">
                                    <div>
                                        <i class="md md-trending-up text-rgb-5"></i>
                                        13%
                                    </div>
                                </div>

                                <h4 class="no-margin white-text w600">Sprint Burndown</h4>
                                <div class="f11" style="opacity:0.8">
                                    <i class="md md-star-outline"></i> Latest 10 July, 10:00
                                </div>

                                <div class="p-10 p-t-30">
                                    <div id="chart-line-1"></div>
                                </div>
                            </div>

                            <div class="card-content p-10">
                                <div class="row">
                                    <div class="col-md-6 text-center" style="border-right: 1px #F0F0F0 solid;">
                                        <h3 class="no-margin w300">142</h3>
                                        <p class="grey-text w600">Tasks closed</p>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <h3 class="no-margin w300">4</h3>
                                        <p class="grey-text w600">Days</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card small">
                            <div class="theme-secondary-lighten-1 p-10">
                                <div class="pull-right">
                                    <div>
                                        <i class="md md-trending-up  text-rgb-5"></i>
                                        6%
                                    </div>
                                </div>

                                <h4 class="no-margin white-text w600">Velocity</h4>
                                <div class="f11" style="opacity:0.8">
                                    <i class="md md-star-outline"></i> Latest 10 July, 10:00
                                </div>

                                <div class="p-10 p-t-30">
                                    <div id="chart-line-2"></div>
                                </div>
                            </div>

                            <div class="card-content p-10">
                                <div class="row">
                                    <div class="col-md-6 text-center" style="border-right: 1px #F0F0F0 solid;">
                                        <h3 class="no-margin w300">78</h3>
                                        <p class="grey-text w600">Planned</p>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <h3 class="no-margin w300">67</h3>
                                        <p class="grey-text w600">Delivered</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card small">
                            <div class="green lighten-1 p-10">
                                <div class="pull-right">
                                    <div>
                                        <i class="md md-trending-up  text-rgb-5"></i>
                                        9%
                                    </div>
                                </div>

                                <h4 class="no-margin white-text w600">Team Capacity</h4>
                                <div class="f11" style="opacity:0.8">
                                    <i class="md md-star-outline"></i> Latest 10 July, 10:00
                                </div>

                                <div class="p-10 p-t-30">
                                    <div id="chart-line-3"></div>
                                </div>
                            </div>

                            <div class="card-content p-10">
                                <div class="row">
                                    <div class="col-md-6 text-center" style="border-right: 1px #F0F0F0 solid;">
                                        <h3 class="no-margin w300">157</h3>
                                        <p class="grey-text w600">Hours</p>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <h3 class="no-margin w300">132 </h3>
                                        <p class="grey-text w600">Used</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutter-14">
                    <div class="col-md-5">

                        <div class="card">
                            <div class="card-header relative">
                                <div class="card-title">New Tasks</div>
                                <div class="small grey-text">Newset tasks in backlog</div>

                                <div class="floating-actions">
                                    <button type="button" class="btn btn-round btn-info" bs-tooltip title="View all orders"><span class="md md-chevron-right"></span></button>
                                </div>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item clearfix">
                                    <div class="pull-left m-r-10"> </div>
                                    <div class="list-group-item-heading">Broken links on contact page</div> <span class="list-group-item-text"><p>Fix external links on the contacts page</p></span> </a>
                                <a href="#" class="list-group-item clearfix">
                                    <div class="pull-left m-r-10">  </div>
                                    <div class="list-group-item-heading">Error when loading the dashboard view</div> <span class="list-group-item-text"><p>Dashboard page gives the "unknown provider" error</p></span> </a>
                                <a href="#" class="list-group-item clearfix">
                                    <div class="pull-left m-r-10">  </div>
                                    <div class="list-group-item-heading">Enable changing theme colors</div> <span class="list-group-item-text"><p>Add color picker in the settings page</p></span> </a>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="panel panel-default left">
                            <div class="panel-heading">

                                <div class="pull-right">
                                    <a href="" class="btn btn-round-sm btn-link"
                                       bs-dropdown="dropdown"
                                       data-template="assets/tpl/partials/dropdown-list-example.html"
                                       data-animation="mat-grow-top-right">
                                        <i class="md md-more-vert"></i>
                                    </a>
                                </div>

                                <h2 class="panel-title grey-text">Project Progress</h2>
                                <h1 class="m-t-10 m-b-5 f30" ng-bind="serverLoad">82%</h1>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="progress m-b-5">
                                            <div class="progress-bar" style="width: {{serverLoad}}%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <p class="small grey-text no-margin">April 15th - July 10th</p>
                            </div>
                            <div id="server-load-chart"></div>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <div class="card">
                            <div class="card-image">
                                <img src="../lib/vendor/assets/img/photos/8.jpg" class="img-responsive" style="max-height:193px;" />
                            </div>
                            <div class="card-content">
                                <div class="card-profile pull-right"><img src="../lib/vendor/assets/img/icons/ballicons/buzzer.svg" alt="" style="width:75px;"></div>
                                <p>87% unit test code coverage</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row gutter-14">



                    <div class="col-sm-12 col-md-12 col-lg-9">
                        <todo-widget />
                    </div>


                </div>

                <div class="grey-text small p-t-20" ng-cloak>Tagmatic by Ivana Zuber- v0.0.1</div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12">

            <div class="p-20">
                <div class="pull-right">
                    <ul class="list-unstyled">
                        <li class="dropdown">
                            <button type="button"
                                    class="btn btn-round-sm btn-link"
                                    bs-dropdown="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    data-template="assets/tpl/partials/dropdown-list-example.html"
                                    data-animation="mat-grow-top-right"
                                    bs-tooltip
                                    title="More stats">
                                <i class="md md-equalizer"></i>
                            </button>
                        </li>
                </div>
                <h4 class="grey-text m-b-30">Action feed</h4>

                <div class="card">
                    <div class="p-10 p-l-20 p-r-20 clearfix">
                        <div class="badge pull-right">10</div>
                        <div class="w600 f11 grey-text">Insights</div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-small grey-text">
                            <colgroup>
                                <col width="">
                                <col width="60" />
                                <col width="50" />
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>Tasks closed</td>
                                <td>142</td>
                                <td><i class="md md-arrow-drop-up green-text"></i></td>
                            </tr>
                            <tr>
                                <td>Velocity</td>
                                <td>67/78</td>
                                <td><i class="md md-arrow-drop-up green-text"></i></td>
                            </tr>
                            <tr>
                                <td>Team capacity</td>
                                <td>132/157</td>
                                <td><i class="md md-arrow-drop-down red-text"></i></td>
                            </tr>
                            <tr>
                                <td>Tasks in backlog</td>
                                <td>42</td>
                                <td><i class="md md-arrow-drop-up green-text"></i></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="p-h-40">

                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" ng-init="actionTab=1">
                        <li role="presentation" class="active"><a ng-click="actionTab=1" aria-controls="home" role="tab" data-toggle="tab">Log</a></li>
                        <li role="presentation" class=""><a ng-click="actionTab=2" aria-controls="home" role="tab" data-toggle="tab">Timeline</a></li>
                        <li role="presentation"><a ng-click="actionTab=3" aria-controls="home" role="tab" data-toggle="tab">Messages</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content m-t-10">
                        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==1}">

                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge">
                                        <i class="icon-circle theme-border"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Bug</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>A new bug was added to backlog</p>
                                            <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge">
                                        <i class="icon-circle theme-secondary-border"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Team capacity</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Team capacity reduced to 157 hours</p>
                                            <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge">
                                        <i class="icon-circle green-border"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Feature request</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>A new feature request was added to the backlog</p>
                                            <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge">
                                        <i class="icon-circle red-border accent-1"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Bug report</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>A new bug was added to the backlog</p>
                                            <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge">
                                        <i class="icon-circle theme-border"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Team capacity</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Team capacity increased to 184</p>
                                            <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge">
                                        <i class="icon-circle brown-border"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Bug report</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>A new bug was added to backlog</p>
                                            <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==2}">

                            <ul class="timeline" ng-init="(rows=[]).length=5;">
                                <li ng-repeat="i in rows track by $index">
                                    <div class="timeline-badge"><img placeholder-img class="img-responsive" /></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title" placeholder-name></h4>
                                        </div>
                                        <div class="timeline-body">
                                            <span placeholder-p></span>
                                            <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==3}">

                            <ul class="timeline" ng-init="(rows=[]).length=5;">
                                <li ng-repeat="i in rows track by $index">
                                    <div class="timeline-badge" placeholder-icon></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title" placeholder-name></h4>
                                        </div>
                                        <div class="timeline-body">
                                            <span spanlaceholder-p></span>
                                            <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>
