<div class="main-content" autoscroll="true" bs-affix-target="" init-ripples="" ng-controller="boardController">

    <div class="col-lg-3 panel panel-primary colStyle" id="{{col.Id}}" board-drop="over"
         ng-repeat="col in columns">
        <div class="panel-heading" style="margin-bottom: 10px;">
            <h3 class="panel-title">{{col.Name}}</h3>
        </div>
        <div class="thumbnail" draggable="true" board-drag="task"
             ng-repeat="task in col.Tasks" style="margin-bottom: 10px;">
            <div class="caption">
                <h5><strong>{{task.Name}}</strong></h5>

                <p>{{task.Description}}</p>

                <p><a href="#" class="btn btn-primary btn-sm" role="button">Edit</a></p>
            </div>
        </div>
    </div>
</div>