<div class="main-content" autoscroll="true" bs-affix-target="" init-ripples="" ng-controller="boardController">

    <div class="col-lg-3 panel panel-primary colStyle" id="{{column.id}}" board-drop="over"
         ng-repeat="column in columns">
        <div class="panel-heading" style="margin-bottom: 10px;">
            <h3 class="panel-title">{{column.name}}
                <div class="pull-right btn btn-primary btn-sm" data-title="New Item" ng-click="createIssue(column.id)"
                     data-toggle="tooltip"><i
                        class="md md-add"></i>
                </div>
            </h3>
        </div>
        <div class="thumbnail" draggable="true" board-drag="task"
             ng-repeat="task in column.tasks" style="margin-bottom: 10px;">
            <div class="caption">
                <h5><strong>{{task.title}}</strong></h5>

                <p>{{task.description}}</p>
            </div>
            <div ng-controller="issuesListController">

                <div class="btn btn-default  btn-sm" scroll-to="top"
                     data-title="Scroll to top" data-toggle="tooltip" ng-click="editIssue()"><i class="md md-edit"></i>
                </div>
                <div class="btn btn-default btn-sm" data-title="Remove 0 item(s)"
                     data-toggle="tooltip"><i class="md md-delete" ng-click="deleteIssue()"></i></div>
            </div>
        </div>
    </div>
    <div class="footer-buttons">
        <div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" data-title="Remove 0 item(s)"
             data-toggle="tooltip"><i class="md md-delete"></i></div>
        <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top"
             data-title="Scroll to top" data-toggle="tooltip"><i class="md md-arrow-drop-up"></i></div>
        <div class="btn btn-primary btn-round btn-lg" data-title="New Item" ng-click="createColumn()"
             data-toggle="tooltip"><i
                class="md md-add"></i></div>
    </div>
</div>